//- --------------------------------------------------------------------------------------
//- discography
//- Coded by Pug

//- Include modules
  - var.pug
  - head.pug
  - nav.pug
  - footer.pug

//- global var
include ./include/var.pug

//- local var
- var title = "asnomi studio/discography";
- var ogpurl = "https://s3-ap-northeast-1.amazonaws.com/asnomi.com/img/ogp.jpg";

// functions
//- disco_card 
  - arg 0: image rel
  - arg 1: product page url
  - arg 2: image url
  - arg 3: product name
  - arg 4: product tags
mixin disco_card(items)
  div.card
    a(rel=items[0] href=items[1] target="_blank").image
      img(src=items[2])
    div.content
      div.header #{items[3]}
      div.meta #{items[4]}
      div.description 
      div.extra.content 

//- --------------------------------------------------------------------------------------

//- header
include ./include/head.pug

body#fadein

  div.ui.six.stackable.doubling.cards.aligned.center
    +disco_card(['rerec collection 1', 'contents/2021/1.html', 'img/jacket/rerec_collection_1.jpg', 'ReRec Collection i', '#楽曲 #配信 #オリジナル #ベストアルバム'])
    +disco_card(['reloaded_ep remaster', 'contents/2020/3.html', 'img/jacket/reloaded_remaster.jpg', 'Reloaded Remastered', '#楽曲 #配信 #オリジナル #淡彩世界のルポルタージュ'])
    +disco_card(['wonderland remaster', 'contents/2020/2.html', 'img/jacket/wonderland_remaster.jpg', '淡彩色のワンダーランド Remastered', '#楽曲 #配信 #オリジナル #淡彩世界のルポルタージュ'])
    +disco_card(['Monotone Landscape', 'contents/work_2020_01.html', 'img/jacket/monotonelandscape_ep.jpg', 'モノトーンランドスケープ EP', '#楽曲 #配信 #オリジナル #淡彩世界のルポルタージュ'])
    +disco_card(['jumping new gears', 'https://twitter.com/sato_EFX_Forest/status/1233331334552010752', 'img/jacket/jumping_new_gears.jpg', 'jumping new gears', '#CD #楽曲 #合同 #紙ジャケ #オリジナル #EFX Forest'])
    +disco_card(['Alice footstep2', 'contents/work_2019_01.html', 'img/jacket/alice_footstep2.jpg', 'アリスのあしあと2;モノトーンランドスケープ', '#本 #CD #楽曲 #フルカラー #イラスト #変形裁断 #オリジナル #淡彩世界のルポルタージュ'])
    +disco_card(['Hack me.', 'contents/work_2018_03.html', 'img/jacket/hack_me.jpg', 'Hack me. EP', '#配信 #楽曲 #オリジナル #GUMI #Vocaloid'])
    +disco_card(['Closing me.', 'contents/work_2018_02.html', 'img/jacket/closing_me.jpg', 'Closing me.', '#本 #マンガ #合同 #オリジナル #東北産バニラ麺'])
    +disco_card(['our new gears', 'https://www.melonbooks.co.jp/detail/detail.php?product_id=468304', 'img/jacket/our_new_gears.jpg', 'our new gears', '#CD #楽曲 #合同 #紙ジャケ #オリジナル #EFX Forest'])
    +disco_card(['my new gear', 'https://booth.pm/ja/items/855090', 'img/jacket/my_new_gear.jpg', 'my new gear', '#CD #楽曲 #合同 #紙ジャケ #オリジナル #EFX Forest'])
    +disco_card(['Alice footstep', 'contents/work_2018_01.html', 'img/jacket/alice_footstep.jpg', 'アリスのあしあと', '#本 #配信 #楽曲 #フルカラー #イラスト #オリジナル #淡彩世界のルポルタージュ'])
    +disco_card(['kimagure', 'contents/work_2017_07.html', 'img/jacket/kimagure.jpg', 'ある日の気まぐれ暗示学', '#本 #マンガ #合同 #オリジナル #東北産バニラ麺'])
    +disco_card(['reloaded ep', 'contents/work_2017_06.html', 'img/jacket/reloaded_ep.jpg', 'Reloaded EP', '#楽曲 #配信 #オリジナル'])
    +disco_card(['wonderland', 'contents/work_2017_05.html', 'img/jacket/wonderland.jpg', '淡彩色のワンダーランド', '#CD #楽曲 #紙ジャケ #オリジナル #淡彩世界のルポルタージュ'])
    +disco_card(['dropout reload', 'contents/work_2017_04.html', 'img/jacket/dropout_reload.jpg', 'Dropout Reload', '#本 #小説 #合同 #オリジナル #淡彩世界のルポルタージュ'])
    +disco_card(['uchinoko_rakugaki', 'contents/work_2017_03.html', 'img/jacket/uchinoko_rakugaki.jpg', 'uchinoko_world rakugaki book 1.5', '#本 #イラスト #コピ本 #オリジナル #淡彩世界のルポルタージュ'])
    +disco_card(['kancolle_rakugaki', 'contents/work_2017_02.html', 'img/jacket/kancolle_rakugaki.jpg', 'asnomi rakugaki book 2017(kancolle)', '#本 #イラスト #艦これ'])
    +disco_card(['exchange', 'https://r3com01.tumblr.com/', 'img/jacket/exchange.jpg', 'エクスチェンジ!! - Kancolle Imagesong Compilation Vol.1 -', '#CD #楽曲 #合同 #艦これ'])
    +disco_card(['we are destroyer', 'contents/work_2017_01.html', 'img/jacket/we_are_destroyer.jpg', '私達はデストロイヤー', '#CD #楽曲 #配信 #紙ジャケ #艦これ'])
    +disco_card(['nijimidero', 'contents/work_2016_04.html', 'img/jacket/nijimidero.jpg', 'にじみ出ろ。', '#本 #マンガ #合同 #オリジナル #東北産バニラ麺'])
    +disco_card(['catchy landscape', 'contents/work_2016_03.html', 'img/jacket/catchy_landscape.jpg', 'Catchy Landscape', '#本 #配信 #楽曲 #フルカラー #イラスト #艦これ'])
    +disco_card(['maidol2', 'https://sixthsense.ddo.jp/works/hourai25/', 'img/jacket/maidol2.jpg', 'm@idol!!', '#本 #小説 #合同 #艦これ'])
    +disco_card(['unreal', 'contents/work_2016_02.html', 'img/jacket/unreal.jpg', 'unreal', '#CD #楽曲 #配信 #紙ジャケ #艦これ'])
    +disco_card(['dropout after', 'contents/work_2016_01.html', 'img/jacket/dropout_after.jpg', 'Dropout After', '#本 #フルカラー #イラスト #オリジナル #淡彩世界のルポルタージュ'])
    +disco_card(['hutaribocchi no yoruni', 'contents/work_2015_04.html', 'img/jacket/hutaribocchi_no_yoruni.jpg', 'ふたりぼっちの夜に', '#CD #楽曲 #紙ジャケ #オリジナル #淡彩世界のルポルタージュ'])
    +disco_card(['re', 'contents/work_2015_03.html', 'img/jacket/re.png', 'RE', '#本 #マンガ #艦これ #総集編'])
    +disco_card(['grasp the worlds end', 'contents/work_2015_02.html', 'img/jacket/grasp_the_worlds_end.jpg', 'Grasp the World\'s End', '#楽曲 #配信 #オリジナル #淡彩世界のルポルタージュ'])
    +disco_card(['selfish fuzzy', 'contents/work_2015_01.html', 'img/jacket/selfish_fuzzy.jpg', 'Selfish girls in the Fuzzy room', '#本 #マンガ #艦これ'])
    +disco_card(['midnight under', 'contents/work_2014_05.html', 'img/jacket/midnight_under.jpg', 'ミッドナイトアンダー', '#CD #楽曲 #紙ジャケ #オリジナル #淡彩世界のルポルタージュ'])
    +disco_card(['hysteric lastdance', 'contents/work_2014_04.html', 'img/jacket/hysteric_lastdance.jpg', 'ヒステリックラストダンス', '#本 #マンガ #艦これ'])
    +disco_card(['maidol', 'http://sixthsense.ddo.jp/works/kc_batsubyo/', 'img/jacket/maidol.jpg', 'm@idol!', '#本 #小説 #合同 #艦これ'])
    +disco_card(['hutaribocchi', 'contents/work_2014_03.html', 'img/jacket/hutaribocchi.jpg', 'ふたりぼっち', '#本 #マンガ #艦これ'])
    +disco_card(['akagi and maikaze', 'contents/work_2014_02.html', 'img/jacket/akagi_and_maikaze.jpg', '舞風ちゃんと赤城さん', '#本 #マンガ #艦これ #コピ本'])
    +disco_card(['kurai nigate', 'contents/work_2014_01.html', 'img/jacket/kurai_nigate.jpg', '暗い雰囲気は苦手です！', '#本 #マンガ #艦これ'])
    +disco_card(['kutikukan', 'contents/work_2013_01.html', 'img/jacket/kutikukan.jpg', '駆逐艦娘かわいい', '#本 #マンガ #艦これ'])

    //- footer

  include ./include/footer.pug

