//- --------------------------------------------------------------------------------------
//- discography
//- Coded by Pug

//- Include modules
  - var.pug
  - head.pug
  - nav.pug
  - footer.pug

//- global var
include ./include/var.pug

//- local var
- var title = 'Closing me.';
- var ogpurl = 'https://s3-ap-northeast-1.amazonaws.com/asnomi.com/img/jacket/closing_me.jpg';
- var mainimage = 'https://s3-ap-northeast-1.amazonaws.com/asnomi.com/img/jacket/closing_me.jpg';
- var subtext = '東北産バニラ麺 合同誌第3弾。';
- var guidetext = '2018年は「変化 予兆 終幕」がテーマの変わりたい/変わってしまった人物の短編集。';
- var releasedate = '2018/11/25 Release';
- var event = comitiaurl;
- var eventtext = 'コミティア126にて頒布';
- var specification = 'B5、32p、500円';

//- functions

//- --------------------------------------------------------------------------------------


//- header
include ./include/head.pug

body#fadein

  //- nav
  include ./include/nav.pug

  div.container-fluid
    div.row.align-items-center.text-center
      div.col-xs-6.col-lg-6.text-center
        a(href=ogpurl data-fancybox data-caption="jacket")
          img(src=mainimage alt="jacket" width="800").img-fluid

      div.col-xs-6.col-lg-6
        h2 #{title}
        p #{subtext}
        | #{guidetext}

    div.row.row-configure.align-items-center.text-center.work_common
      div.col-xs-12.col-lg-12.row-0
        hr
        h3 サンプル
        a(href="../img/sample/im_b17_02.jpg" data-fancybox data-caption="tia126")
          img(src="../img/sample/im_b17_02.jpg" alt="2"  width="130")
        a(href="../img/sample/im_b17_03.jpg" data-fancybox data-caption="tia126")
          img(src="../img/sample/im_b17_03.jpg" alt="3"  width="130")
        a(href="../img/sample/im_b17_04.jpg" data-fancybox data-caption="tia126")
          img(src="../img/sample/im_b17_04.jpg" alt="4"  width="130")
        hr

      div.col-xs-6.col-lg-6.row-0
        h3 頒布情報
        h5 #{releasedate}
        a(href=event target="_blank") #{eventtext}
        p #{specification}

      div.col-xs-6.col-lg-6.row-0
        h3 販売情報
        p 本は現在委託しておりません。

      div.col-xs-12.col-lg-12.row-0
        hr
        h3 関連記事 
        a(href="https://twitter.com/Shu_Salmon" target="_blank") しゅう鮭 
        a(href="https://twitter.com/necokoro22" target="_blank") ねこころ 
        a(href="https://twitter.com/xm_igra3" target="_blank") あすのみ

  //- footer
  include ./include/footer.pug

