//- --------------------------------------------------------------------------------------
//- discography
//- Coded by Pug

//- Include modules
  - var.pug
  - head.pug
  - nav.pug
  - footer.pug

//- global var
include ./include/var.pug

//- local var
- var title = 'アリスのあしあと Archive2; モノトーンランドスケープ';
- var ogpurl = 'https://s3-ap-northeast-1.amazonaws.com/asnomi.com/img/jacket/alice_footstep2.jpg';
- var mainimage = 'https://s3-ap-northeast-1.amazonaws.com/asnomi.com/img/jacket/alice_footstep2.jpg';
- var subtext = '「願っているこの先の色彩を。」';
- var guidetext = 'イラストと楽曲で表現する退廃的世界観「アリスのあしあと」第2部1章。';
- var releasedate = '2019/10/2 Release';
- var event = m3url;
- var eventtext = 'M3にて頒布';
- var specification = 'B5変形（スクエア）フルカラー、28p、1000円、イメージソング5曲';

//- functions

//- --------------------------------------------------------------------------------------


//- header
include ./include/head.pug

body#fadein

  div.container-fluid
    div.row.align-items-center.text-center
      div.col-xs-6.col-lg-6.text-center
        a(href=ogpurl data-fancybox data-caption="jacket")
          img(src=mainimage alt="jacket" width="800").img-fluid

      div.col-xs-6.col-lg-6
        h2 #{title}
        p #{subtext}
        | #{guidetext}

    div.row.row-configure.align-items-center.text-center.work_common
      div.col-xs-12.col-lg-12.row-0
        hr
        h3 サンプル
        iframe(width="560" height="315" src="https://www.youtube.com/embed/kHz0OL8RRcY?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
        hr

      div.col-xs-6.col-lg-6.row-0
        h3 頒布情報
        h5 #{releasedate}
        a(href=event target="_blank") #{eventtext}
        p #{specification}

      div.col-xs-6.col-lg-6.row-0
        h3 販売情報
        a(href="https://linkco.re/73aYmfFR" target="_blank") モノトーンランドスケープEPを各社で配信中
        p 本は現在委託しておりません。

      div.col-xs-12.col-lg-12.row-0
        hr
        h3 関連記事 
        a(href="https://note.com/asnomi/n/n51f1dc2e963b" target="_blank") note

  //- footer
  include ./include/footer.pug

