//- --------------------------------------------------------------------------------------
//- discography
//- Coded by Pug

//- Include modules
  - var.pug
  - head.pug
  - nav.pug
  - footer.pug

//- global var
include ./include/var.pug

//- local var
- var title = 'Hack me. EP';
- var ogpurl = 'https://s3-ap-northeast-1.amazonaws.com/asnomi.com/img/jacket/hack_me.jpg';
- var mainimage = 'https://s3-ap-northeast-1.amazonaws.com/asnomi.com/img/jacket/hack_me.jpg';
- var subtext = '「それは終わるはずのない日々でした。」';
- var guidetext = '通算11枚目となる楽曲アルバムは「変化」「特別」がテーマ。合同誌「Closing me.」に収録した短編「Hack me.」とリンクする新曲2曲と旧譜からセルフアレンジ楽曲1曲を収録。';
- var releasedate = '2018/12 Release';
//- var event = m3url;
//- var eventtext = 'M3にて頒布';
- var specification = 'ジャケット/ブックレット 画像データ(jpg)x5、音源データ(5曲)の収録、500円。ボーカルはGUMI、新曲はSoundCloudでフル公開しています。サンプルをご視聴ください。';

//- functions

//- --------------------------------------------------------------------------------------



//- header
include ./include/head.pug

body#fadein


  div.container-fluid
    div.row.align-items-center.text-center
      div.col-xs-6.col-lg-6.text-center
        a(href=ogpurl data-fancybox data-caption="jacket")
          img(src=ogpurl alt="jacket" width="800").img-fluid

      div.col-xs-6.col-lg-6
        h2 #{title}
        p #{subtext}
        | #{guidetext}

    div.row.row-configure.align-items-center.text-center.work_common
      div.col-xs-12.col-lg-12.row-0
        hr
        h3 サンプル
        iframe(width="560" height="315" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/550531290&amp;color=%2361c1c5&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
        iframe(width="560" height="315" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/550532586&amp;color=%2361c1c5&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
        hr

      div.col-xs-6.col-lg-6.row-0
        h3 頒布情報
        h5 #{releasedate}
        //a(href=event target="_blank") #{eventtext}
        p #{specification}

      div.col-xs-6.col-lg-6.row-0
        h3 販売情報
        a(href="https://icenomi.booth.pm/items/1151522" target="_blank") Booth

      div.col-xs-12.col-lg-12.row-0
        hr
        h3 関連記事 
        a(href="./work_2018_02.html" ) Closing me.

  //- footer
  include ./include/footer.pug

