//- --------------------------------------------------------------------------------------
//- discography
//- Coded by Pug

//- Include modules
  - var.pug
  - head.pug
  - nav.pug
  - footer.pug

//- global var
include ./include/var.pug

//- local var
- var title = 'アリスのあしあと Archive1';
- var ogpurl = 'https://s3-ap-northeast-1.amazonaws.com/asnomi.com/img/jacket/alice_footstep.jpg';
- var mainimage = 'https://s3-ap-northeast-1.amazonaws.com/asnomi.com/img/jacket/alice_footstep.jpg';
- var subtext = 'イラストと楽曲で表現する退廃的世界観';
- var guidetext = '「アリスのあしあと」は主人公のアリスが描く日記です。2017年12月から2018年5月までに渡って作った話のまとめ本です。';
- var releasedate = '2018/5/5 Release';
- var event = comitiaurl;
- var eventtext = 'コミティア124にて頒布';
- var specification = 'A5、32p、800円、イメージソング12曲 ';

//- functions

//- --------------------------------------------------------------------------------------



//- header
include ./include/head.pug

body#fadein

  div.container-fluid
    div.row.align-items-center.text-center
      div.col-xs-6.col-lg-6.text-center
        a(href=ogpurl data-fancybox data-caption="jacket")
          img(src=mainimage alt="jacket" width="800").img-fluid

      div.col-xs-6.col-lg-6
        h2 #{title}
        p #{subtext}
        | #{guidetext}

    div.row.row-configure.align-items-center.text-center.work_common
      div.col-xs-12.col-lg-12.row-0
        hr
        h3 サンプル
        a(href="https://twitter.com/i/moments/940184714744250369" target="_blank") Twitter モーメント
        hr

      div.col-xs-6.col-lg-6.row-0
        h3 頒布情報
        h5 #{releasedate}
        a(href=event target="_blank") #{eventtext}
        p #{specification}

      div.col-xs-6.col-lg-6.row-0
        h3 販売情報
        a(href="https://www.melonbooks.co.jp/detail/detail.php?product_id=373233" target="_blank") メロンブックス：イラスト集 
        a(href="https://icenomi.booth.pm/items/834621" target="_blank") Booth：楽曲無料

      div.col-xs-12.col-lg-12.row-0
        hr
        h3 関連記事 
        a(href="https://twitter.com/i/moments/940184714744250369" target="_blank") Twitter モーメント

  //- footer
  include ./include/footer.pug

